<!DOCTYPE html>
<html>
  <head>
    <title>About <%=shopName%></title>
    <!-- <link rel="stylesheet"  type="text/css" href="main.css" /> -->
    <link rel="stylesheet" type="text/css" href="form.css" />
  </head>
  <body>
    <div class="login">
     </div>
    <h1>About <%=shopName%></h1>
    <p>We sell all sorts of books and nothing else!</p>
    </body>
  </div>
  </body>
</html>
