<!DOCTYPE html>
<html>
  <head>
    <title>About <%=shopName%></title>
    <!-- <link rel="stylesheet"  type="text/css" href="main.css" /> -->
    <link rel="stylesheet" type="text/css" href="form.css" />
  </head>
  <body>
    <div class="fade-in">
      <!-- ----------------------nav section----------------------- -->

      <div class="navbar">
        <div class="navBtnHolder">
          <a
            onclick="location.href='/'"
            type="button"
            class="homeBtn homeFLeft"
          >
            HOME
          </a>
          <!-- </div class="loginNav"> -->

          <a
            onclick="location.href='/logIn'"
            type="button"
            class="homeBtn homeFRight"
          >
            LOGIN
          </a>
          <!-- </div> -->
        </div>
      </div>
      <!-- --------------------------------------------- -->
      <div class="login">
        <div id="formDiv">
          <div class="spacerContainer">
            <div class="login">
              <h1>About <%=shopName%></h1>
              <p>We sell all sorts of books and nothing else!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
