<!DOCTYPE html>
<html>
  <head>
    <title>Delete users <%=shopName%></title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <h1>deleted a user<%=shopName%> Shop</h1>
    <h2>Here are the books that we sell:</h2>
    <form method="POST" action="/deletedauser">
      <p>
        Username:
        <input id="username" type="username" name="username" value="dingdong" />
      </p>
      <input type="submit" value="Delete" />
    </form>
    <ul>
      <% availableBooks.forEach(function(users) { %>
      <li><%= users.username%>, <%=users.email%></li>
      <% }) %>
    </ul>
  </body>
</html>
