<!DOCTYPE html>
<html>
  <script>(function(){window['_docs_annotate_canvas_by_ext']='kohfgcgbkjodfcfkcackpagifgbcmimk';})();</script>
  <head>
    <title>Welcome to <%=shopName%></title>
    <link rel="icon" type="image/x-icon" href="images/lock.png">
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <script src="/extraScripts/titleSwitcher.js"></script>
    <style>
      html{
        cursor: url('images/cursor.png'), auto;
      }
    </style>
    
  </head>
  <body  data-new-gr-c-s-check-loaded="14.1085.0" data-gr-ext-installed="">
      <div class="fade-in">
    <div class="full-screen">
      <video src="/media/parts.mp4" autoplay="" muted="" loop=""></video>
        <div class="content">
          <h1>Welcome to <%=shopName%></h1>
          <p><a href="about">About <%=shopName%></a></p>
          <p><a href="addbook">Add a new book</a></p>
          <p><a href="bargainbooks">Bargain books</a></p>
          <p><a href="bargains">Bargains</a></p>
          <p><a href="deleteusers">delete users</a></p>
          <p><a href="list">List books</a></p>
          <p><a href="listusers">list users</a></p>
          <p><a href="logIn">Login</a></p>
          <p><a href="register">Register with us</a></p>
          <p><a href="search">Search for books</a></p>
        </body>
      </div>
  </div>
  <iframe id="nr-ext-rsicon" style="position: absolute; display: none; width: 50px; height: 50px; z-index: 2147483647; border-style: none; background: transparent;"></iframe>
    </div>
</html>
