<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel="stylesheet" type="text/css" href="main.css" /> -->
    <link rel="stylesheet" type="text/css" href="form.css" />
    <style>
      html {
        cursor: url("images/cursor.png"), auto;
      }
    </style>
  </head>
  <body>
    <div class="fade-in">
      <!-- ----------------------nav section----------------------- -->
      <div class="navbar">
        <div class="navBtnHolder">
          <a
            onclick="location.href='./about'"
            type="button"
            class="homeBtn homeFLeft"
          >
            about
          </a>
          <a
            onclick="location.href='./addbook'"
            type="button"
            class="homeBtn homeFLeft"
          >
            addbook
          </a>
          <a
            onclick="location.href='./bargainbooks'"
            type="button"
            class="homeBtn homeFLeft"
          >
            bargains
          </a>
          <a
            onclick="location.href='./deleteusers'"
            type="button"
            class="homeBtn homeFLeft"
          >
            deleteusers
          </a>
          <a
            onclick="location.href='./'"
            type="button"
            class="homeBtn homeFLeft"
          >
            home
          </a>
          <a
            onclick="location.href='./list'"
            type="button"
            class="homeBtn homeFLeft"
          >
            list
          </a>
          <a
            onclick="location.href='./register'"
            type="button"
            class="homeBtn homeFLeft"
          >
            register
          </a>
          <a
            onclick="location.href='./search'"
            type="button"
            class="homeBtn homeFLeft"
          >
            search
          </a>
          <a
            onclick="location.href='./logIn'"
            type="button"
            class="homeBtn homeFLeft"
          >
            logIn
          </a>
          <!-- </div> -->
        </div>
      </div>
      <!-- --------------------------------------------- -->
      <div class="login">
        <h1>users<%=shopName%> Shop</h1>
        <h2>Here are the users</h2>
        <ul class="liseter">
          <% availableBooks.forEach(function(users) { %>
          <li><%= users.username%></li>
          <% }) %>
        </ul>
      </div>
    </div>
  </body>
</html>
