<!DOCTYPE html>
<html>
  <head>
    <title>login for <%=shopName%></title>
    <link rel="stylesheet" type="text/css" href="form.css" />
    <script src="/extraScripts/titleSwitcher.js"></script>
    <style>
      html {
        cursor: url("images/cursor.png"), auto;
      }
    </style>
  </head>
  <body>
    <div class="fade-in">
      <!-- ----------------------nav section----------------------- -->
      <div class="navbar">
        <div class="navBtnHolder">
          <a
            onclick="location.href='./about'"
            type="button"
            class="homeBtn homeFLeft"
          >
            about
          </a>
          <a
            onclick="location.href='./addbook'"
            type="button"
            class="homeBtn homeFLeft"
          >
            addbook
          </a>
          <a
            onclick="location.href='./bargainbooks'"
            type="button"
            class="homeBtn homeFLeft"
          >
            bargains
          </a>
          <a
            onclick="location.href='./deleteusers'"
            type="button"
            class="homeBtn homeFLeft"
          >
            deleteusers
          </a>
          <a
            onclick="location.href='./home'"
            type="button"
            class="homeBtn homeFLeft"
          >
            home
          </a>
          <a
            onclick="location.href='./list'"
            type="button"
            class="homeBtn homeFLeft"
          >
            list
          </a>
          <a
            onclick="location.href='./register'"
            type="button"
            class="homeBtn homeFLeft"
          >
            register
          </a>
          <a
            onclick="location.href='./search'"
            type="button"
            class="homeBtn homeFLeft"
          >
            search
          </a>
          <a
            onclick="location.href='./logIn'"
            type="button"
            class="homeBtn homeFLeft"
          >
            logIn
          </a>
          <!-- </div> -->
        </div>
      </div>
      <!-- --------------------------------------------- -->
      <!-- <div class="login"> -->
      <h1>login for <%=shopName%></h1>
      <div class="full-screen">
        <form method="POST" action="/loggedin">
          <p>
            <input
              id="username"
              type="username"
              placeholder="Username"
              name="username"
              value="dingdong"
            />
          </p>
          <p>
            <input
              id="password"
              type="password"
              placeholder="Password"
              name="password"
              value="dingdong"
            />
          </p>
          <button
            type="submit"
            class="btn btn-primary btn-block btn-large"
            value="logIn"
          >
            Let me in.
          </button>
          <!-- <input type="submit" value="login" /> -->
        </form>
      </div>
      <!-- </div> -->
    </div>
  </body>
</html>
