<!DOCTYPE html>
<html>
  <head>
    <title>Register for <%=shopName%></title>
    <!-- <link rel="stylesheet" type="text/css" href="main.css" /> -->
    <link rel="stylesheet" type="text/css" href="form.css" />
    <style>
      html {
        cursor: url("images/cursor.png"), auto;
      }
    </style>
  </head>
  <body>
    <div class="fade-in">
      <!-- ----------------------nav section----------------------- -->
      <div class="navbar">
        <div class="navBtnHolder">
          <a
            onclick="location.href='./about'"
            type="button"
            class="homeBtn homeFLeft"
          >
            about
          </a>
          <a
            onclick="location.href='./addbook'"
            type="button"
            class="homeBtn homeFLeft"
          >
            addbook
          </a>
          <a
            onclick="location.href='./bargainbooks'"
            type="button"
            class="homeBtn homeFLeft"
          >
            bargains
          </a>
          <a
            onclick="location.href='./deleteusers'"
            type="button"
            class="homeBtn homeFLeft"
          >
            deleteusers
          </a>
          <a
            onclick="location.href='./home'"
            type="button"
            class="homeBtn homeFLeft"
          >
            home
          </a>
          <a
            onclick="location.href='./list'"
            type="button"
            class="homeBtn homeFLeft"
          >
            list
          </a>
          <a
            onclick="location.href='./register'"
            type="button"
            class="homeBtn homeFLeft"
          >
            register
          </a>
          <a
            onclick="location.href='./search'"
            type="button"
            class="homeBtn homeFLeft"
          >
            search
          </a>
          <a
            onclick="location.href='./logIn'"
            type="button"
            class="homeBtn homeFLeft"
          >
            logIn
          </a>
          <!-- </div> -->
        </div>
      </div>
      <!-- --------------------------------------------- -->
      <div class="login">
        <div id="formDiv">
          <div class="spacerContainer">
            <h1>Register for <%=shopName%></h1>
            <form method="POST" action="/registered">
              <p>
                <input
                  id="username"
                  type="text"
                  name="username"
                  value="username"
                />
              </p>
              <p>
                <input id="first" type="text" name="first" value="first name" />
              </p>
              <p>
                <input id="last" type="text" name="last" value="last name" />
              </p>
              <p>
                <input id="email" type="email" name="email" value="email" />
              </p>
              <p>
                <input
                  id="password"
                  type="password"
                  name="password"
                  value="password"
                />
              </p>
              <input type="submit" value="Register" />
              <input type="submit" value="logIn" />
            </form>
          </div>
        </div>
      </div>
      </div>
    </div>
  </body>
</html>
