<!DOCTYPE html>
<html>
  <head>
    <title>Berties Books</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <p>The user <%=deletedUser%> has been deleted!</p>
  </body>
  <p><a href="/">Home</a></p>
</html>
