<!DOCTYPE html>
<html>
  <head>
    <title>Log in for <%=shopName%></title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Log in for <%=shopName%></h1>
    <form method="POST" action="/delete">
      <p>
        <!--input format for the username that needs to be deleted-->
        Username:
        <input id="username" type="text" name="username" value="" />
      </p>
      <input type="submit" value="Delete" />
    </form>
  </body>
  <p><a href="/">Home page</a></p>
</html>
