<!DOCTYPE html>
<html>
  <head>
    <title>Berties Books</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Logged in!</h1>
    <p>The log in was successful!</p>
  </body>
  <p><a href="/">Home page</a></p>
</html>
