<!DOCTYPE html>
<html>
  <head>
    <title>Berties Books</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Successful</h1>
    <p>You logged out of your account</p>
  </body>
  <p><a href="/">Home</a></p>
</html>
