<!DOCTYPE html>
<html>
  <head>
    <title>Berties Books</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <!--user not found page-->
    <p>The user was not found! Check existing users and try again!</p>
  </body>
  <!--a button that takes the user back to the delete user page-->
  <p><a href="/deleteuser">Delete user</a></p>
  <p><a href="/listusers">Users list</a></p>
</html>
