<!-- The page which gets the API from TV Maze -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Look for TV Shows</title>
    <!-- Linking my CSS -->
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <form action="/show-search" METHOD="GET">
      <h2>
        <label for="search-box"
          >What TV Show would you like to search for?</label
        >
      </h2>
      <label for="tvshow"></label
      ><input id="tvshow" type="text" name="tvshow" value="" />
      <input type="submit" value="Search" />
    </form>
    <p><a href="/">Home page</a></p>
  </body>
</html>
