<!DOCTYPE html>
<html>
  <head>
    <title>Search City</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Search city</h1>
    <form action="/weather" method="post">
      <p>Enter the city</p>
      <!-- Form for the weather -->
      <input id="city" type="text" name="city" value="" />
      <input type="submit" value="Search" />
    </form>
  </body>
  <p><a href="/">Home page</a></p>
</html>
