<!DOCTYPE html>
<html>
  <head>
    <title>Berties Books</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <!--wrong username page-->
    <h1>Error</h1>
    <p>Username wrong or does not exist!</p>
    <p>Try again or Create an account!</p>
  </body>
  <p><a href="/register">Register</a></p>
  <p><a href="/login">Log in</a></p>
</html>
